{{> header}}

<h1>{{title}}</h1>

<div class="articles">
    {{#articles}}
        <div class="article-tile">
            <header class="article-header">
                <div class="article-title"><a href="/article/{{slug}}">{{title}}</a></div>
                <div class="article-meta">By <strong>{{author}}</strong>, on <strong>{{added}}</strong></div>
            </header>
            <div class="article-description">
                {{headline}}
            </div>
        </div>
    {{/articles}}
</div>

{{> footer}}
